<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXWin2BXlPFa_V0YUqDb1Z3KQw4kr79Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>554029639423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drivesafe</string>
	<key>PROJECT_ID</key>
	<string>drivesafe-22c94</string>
	<key>STORAGE_BUCKET</key>
	<string>drivesafe-22c94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554029639423:ios:67df62c5129bcdc6f18eca</string>
</dict>
</plist>